<!DOCTYPE html>
<html>

<!--
Buck Fizz Assessment - WEB
Created By Bernard Bell for Go Seamless Careers	
31 January 2017

A HTML Page Using AngularJS, a program that prints the numbers from 1 to 100 in a table. But for multiples of
three prints “Fizz” instead of the number and for the multiples of five prints “Buck”. For
numbers which are multiples of both three and five prints “BuckFizz”.
-->

<head>


	<!-- Link to the AngularJS Library -->
	<script type="text/javascript" src="http://code.angularjs.org/1.0.0/angular-1.0.0.js"></script>

	<!-- Link to the Twitter CSS Library -->
	<link rel="stylesheet" href="http://aumstudio.co.za/css/bootstrap.min.css">


</head>


<body  ng-app ="BuckFizzApp" class="ng-scope"> 



<!--BuckFizzApp Service Based Message-->
<div ng-app="BuckFizzApp" ng-controller="GetWelcomeMessage" style="padding-left: 10px;"> 

	<p>Bernards Solution Says:</p>

	<h1>{{myWelcome}}</h1>

</div>





<div style="padding-left: 15px;">
<!--Table element that will hold the output from our BuckFizzApp -->
<table>

	<!--ng-repeat will repeat this element for each array element -->
  <tr ng-repeat="x in [] | number_range:1:100" class="ng-scope" style=" border: 1px solid black;">
 
    <td>{{ x }}</td>
 
  </tr>

</table>

</div>



<!--Table Module for our BuckFizzApp -->
<script type="text/javascript">
//<![CDATA[

//Main Angular JS Module
var app=angular.module('BuckFizzApp', []);

//This angular filter is used by "ng-repeat" tag called from the html table row
//number_range

app.filter('number_range', function() {

//input = pass through variable holding array of return values
//min = number range to iterate from
//Max = number range to iterate too.

  return function(input, min, max) {
    min = parseInt(min);
    max = parseInt(max);

    //Loop through our number set and build our output array
    for (var row_counter=min; row_counter<=max; row_counter++)
    {
    
    			//A string placeholder to hold our new elements text
    			var documentOutput = ""; 


				//bool flag to signal no multiples
        		var ThisIsJustANumber = 0;

			    //Are we a multiple of both 3 and 5?
			    if ((row_counter % 5 == 0) && (row_counter % 3 == 0)) {
			       
			        documentOutput = "BuckFizz" ;
			        ThisIsJustANumber = 1; 
			    }        

			    //Not a multiple of both 3 AND 5 so we are still not flagged
				if (!ThisIsJustANumber) {        
					//Are we a multiple of 3?        
				    if (row_counter % 3 == 0) {
				       
				       documentOutput =  "Fizz" ;
				       ThisIsJustANumber = 1;
				    }
	          

	          		//Are we a multiple of 5?        
				    if (row_counter % 5 == 0) {
				       
				        documentOutput = "Buck" ;
				        ThisIsJustANumber = 1;
				    }
				  }

				 //No Multiple present
			    if (!ThisIsJustANumber) {

			    	//Just append number to array

			    	documentOutput =  row_counter + "" ;
			       
			    }


			    //Add our processed string to our output array
			    input.push(documentOutput);

    
      }

    //Pass the array back to the calling HTML element  
    return input;
  };
});

//Mock service controller
app.controller('GetWelcomeMessage', 
	function($scope, $http) 
	{
		//GET request
  		$http.get("BuckFizzAppMsg.htm").then(function (response) 
  		{
  			//Return the content
      		$scope.myWelcome = response.data;
  		});
	});

//]]>
</script>


</body>

</html>